name: Build and Test Docker Image

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/sicilian-defense-api:latest .

      - name: Run container from image
        run: |
          docker run -d \
           --name api-test \
           -p 5001:5001 \
           -e NODE_ENV=${{ vars.NODE_ENV }} \
           -e PORT=${{ vars.PORT }} \
           -e DB_PORT=${{ vars.DB_PORT }} \
           -e DB_HOST=${{ vars.DB_HOST }} \
           -e DB_USER=${{ vars.DB_USER }} \
           -e DB_NAME=${{ vars.DB_NAME }} \
           -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
           -e ACCESS_JWTSECRET=${{ secrets.ACCESS_JWTSECRET }} \
           -e REFRESH_JWTSECRET=${{ secrets.REFRESH_JWTSECRET }} \
           ${{ secrets.DOCKERHUB_USERNAME }}/sicilian-defense-api:latest
          sleep 10  # Wait for the app to start

      - name: Test container with curl
        run: |
          curl --fail http://localhost:5001/api/health || (docker logs api-test && exit 1)

      - name: Stop and remove container
        if: always()
        run: docker rm -f api-test

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/sicilian-defense-api:latest
