name: Build and Test Docker Image

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/sicilian-defense-api:latest .

      - name: Create env file
        run: |
          cat <<EOF > .env
          NODE_ENV=${{ vars.NODE_ENV }}
          PORT=${{ vars.PORT }}
          DB_HOST=${{ vars.DB_HOST }}
          DB_PORT=${{ vars.DB_PORT }}
          DB_USER=${{ vars.DB_USER }}
          DB_NAME=${{ vars.DB_NAME }}
          DB_PASSWORD=${{ secrets.DB_PASSWORD }}
          ACCESS_JWTSECRET=${{ secrets.ACCESS_JWTSECRET }}
          REFRESH_JWTSECRET=${{ secrets.REFRESH_JWTSECRET }}
          DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
          EOF

      - name: Start api server and db
        run: |
          docker compose -f docker-compose-staging.yaml up -d
          sleep 15 # Wait for services to be fully up

      - name: Test container with curl
        run: |
          curl --fail http://localhost:5001/api/health || (docker logs api-test && exit 1)

      - name: Shutdown stack
        if: always()
        run: docker compose -f docker-compose-staging.yaml down -v

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/sicilian-defense-api:latest
